* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* MAIN CONTENT */
.dashboard-main-content {

}

/* SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1AA0D9;
    color: #fff;
    padding: 16px 0px 16px 0px;
    justify-content: space-between;
    height: 100vh;
    width: 16rem;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
}

/* SIDEBAR TOP */
.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* LOGO & NAME */
.logo-name {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 20px;
}

.logo-name img {
    height: 40px;
}

.logo-name h1 {
    font-size: 24px;
    font-weight: 600;
}

/* MENU & GENERAL */
.menu-general {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/* MENU-MAIN */
.menu {
    display: flex;
    flex-direction: column;
}

.menu h1 {
    font-size: 12px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 8px;
}

.menu-list {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
    transition: 0.2s;
}

.menu-list:hover {
    background-color: #005072;
}

.menu-list:active {
    background-color: #005072;
}

.menu-list i {
    font-size: 32px;
}

.menu-list h2 {
    font-size: 16px;
    font-weight: 300;
}

.menu-list h2.active {
    font-weight: 600;
}

/* GENERAL-MAIN */
.general {
    display: flex;
    flex-direction: column;
}

.general h1 {
    font-size: 12px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 8px;
}

.general-list {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
    transition: 0.2s;
}

.general-list:hover {
    background-color: #005072;
}

.general-list:active {
    background-color: #005072;
}

.general-list i {
    font-size: 32px;
}

.general-list h2 {
    font-size: 16px;
    font-weight: 300;
}

.general h2.active {
    font-weight: 600;
}
/* LAST OF SIDEBAR TOP */

/* PROFILE */
.profile {
    display: flex;
    color: #fff;
    text-decoration: none;
    gap: 8px;
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.3s;
    border-radius: 999px;
}

.profile:hover {
    background-color: #005072;
}

.profile:active {
    background-color: #005072;
}


.profile img {
    height: 48px;
    width: 48px;
    border-radius: 9999px;
}

.name-role {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-role h1 {
    font-size: 16px;
    font-weight: 500;
}

.name-role p {
    font-size: 12px;
    font-weight: 300;
}
/* LAST OF PROFILE */
/* LAST OF SIDEBAR */

/* DASHBOARD */
.dashboard {
    margin-left: 16rem;
    height: 100vh;
}

/* TOP */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 8px 40px;
    height: 4.2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    width: calc(100% - 240px);
}

.top h1 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.search-bar {
    display: flex;
    gap: 8px;
}

.search-bar input {
    background-color: #F4F3FF;
    border: none;
    border-radius: 999px;
    height: 40px;
    padding-left: 16px;
}

.search-bar a i {
    color: #a8a8a8;
    background-color: #F4F3FF;
    height: 40px;
    width: 40px;
    border-radius: 999px;
    align-content: center;
    text-align: center;
    transition: 0.3s;
}

.search-bar a i:hover {
    color: #686868;
    background-color: #afafaf;
}

.search-bar a i:active {
    color: #686868;
    background-color: #afafaf;
}

/* EKSKUL LIST */
.ekskul-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    align-items: stretch;
    gap: 16px;
    padding: 92px 24px 24px 24px;
}

.ekskul-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F3FF;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    gap: 16px;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    transition: 0.3s;
    text-decoration: none;
}

.ekskul-card:hover {
    background-color: #d7d3ff;
}

.ekskul-card img {
    width: 160px;
}

.ekskul-card h3 {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    text-align: center;
    line-height: 32px;
}

.ekskul-card p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}


/* EKSKUL CATEGORIES */
.ekskul-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 16px;
    padding: 92px 24px 24px 24px;
    color: #333;
}

.judul-ekskul {
    display: flex;
    align-items: center;
    gap: 12px;
}

.judul-ekskul h1 {
    font-weight: 700;
    font-size: 40px;
}

.judul-ekskul h2 {
    font-weight: 400;
    font-size: 20px;
}


/* DETAIL EKSKUL */
.ekskul-categories {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.categories-card-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories-card-between button {
    background-color: #1AA0D9;
    color: #fff;
    border: none;
    padding: 8px 0;
    width: 8rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 32px;
    transition: 0.3s;
}

.categories-card-between button:hover {
    background-color: #005072;
}

.categories-card {
    display: flex;
    background-color: #F4F3FF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 40px;
    gap: 32px;
    border-radius: 24px;
}

.categories-card img {
    width: 460px;
    height: 300px;
    border-radius: 12px;
}

.categories-card-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories-card-right h1 {
    font-size: 32px;
    font-weight: 700;
}

.categories-card-information {
    display: flex;
    gap: 24px;
}

.info-left {
    display: flex;
    flex-direction: column;
}

.info-left h2 {
    font-weight: 700;
    font-size: 20px;
}

.info-right {
    display: flex;
    flex-direction: column;
}

.info-right h2 {
    font-weight: 500;
    font-size: 20px;
}

.pembina-ekskul {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pembina-ekskul img {
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.pembina-ekskul h1 {
    font-size: 24px;
    font-weight: 500;
}