* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* MAIN CONTENT */
.dashboard-main-content {

}

/* SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1AA0D9;
    color: #fff;
    padding: 16px 0px 16px 0px;
    justify-content: space-between;
    height: 100vh;
    width: 16rem;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
}

/* SIDEBAR TOP */
.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* LOGO & NAME */
.logo-name {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 20px;
}

.logo-name img {
    height: 40px;
}

.logo-name h1 {
    font-size: 24px;
    font-weight: 600;
}

/* MENU & GENERAL */
.menu-general {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/* MENU-MAIN */
.menu {
    display: flex;
    flex-direction: column;
}

.menu h1 {
    font-size: 12px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 8px;
}

.menu-list {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
    transition: 0.2s;
}

.menu-list:hover {
    background-color: #005072;
}

.menu-list:active {
    background-color: #005072;
}

.menu-list i {
    font-size: 32px;
}

.menu-list h2 {
    font-size: 16px;
    font-weight: 300;
}

.menu-list h2.active {
    font-weight: 600;
}

/* GENERAL-MAIN */
.general {
    display: flex;
    flex-direction: column;
}

.general h1 {
    font-size: 12px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 8px;
}

.general-list {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
    transition: 0.2s;
}

.general-list:hover {
    background-color: #005072;
}

.general-list:active {
    background-color: #005072;
}

.general-list i {
    font-size: 32px;
}

.general-list h2 {
    font-size: 16px;
    font-weight: 300;
}

.general h2.active {
    font-weight: 600;
}
/* LAST OF SIDEBAR TOP */

/* PROFILE */
.profile {
    display: flex;
    color: #fff;
    text-decoration: none;
    gap: 8px;
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.3s;
    border-radius: 999px;
}

.profile:hover {
    background-color: #005072;
}

.profile:active {
    background-color: #005072;
}


.profile img {
    height: 48px;
    width: 48px;
    border-radius: 9999px;
}

.name-role {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-role h1 {
    font-size: 16px;
    font-weight: 400;
}

.name-role p {
    font-size: 12px;
    font-weight: 300;
    
}
/* LAST OF PROFILE */
/* LAST OF SIDEBAR */

/* DASHBOARD */
.dashboard {
    margin-left: 16rem;
    height: 100vh;
}

/* TOP */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 8px 40px;
    height: 4.2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    width: calc(100% - 240px);
}

.top h1 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.search-bar {
    display: flex;
    gap: 8px;
}

.search-bar input {
    background-color: #F4F3FF;
    border: none;
    border-radius: 999px;
    height: 40px;
    padding-left: 16px;
}

.search-bar a i {
    color: #a8a8a8;
    background-color: #F4F3FF;
    height: 40px;
    width: 40px;
    border-radius: 999px;
    align-content: center;
    text-align: center;
    transition: 0.3s;
}

.search-bar a i:hover {
    color: #686868;
    background-color: #afafaf;
}

.search-bar a i:active {
    color: #686868;
    background-color: #afafaf;
}

/* PENGUMUMAN KONTEN */
.pengumuman-konten {
    display: flex;
    gap: 32px;
    padding: 84px 24px 24px 24px;
    color: #333;
}

/* LEFT SIDE */
.list-information {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.information-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #F4F3FF;
    width: 272px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 8px 16px;
}

.sender {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sender img {
    border-radius: 999px;
    width: 48px;
    height: 48px;
}

.name-date {
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

.name-date h1 {
    font-weight: 400;
    font-size: 20px;
}

.name-date p {
    font-weight: 400;
    font-size: 12px;
    color: #A2A2A2;
}

.information-card h2 {
    font-weight: 600;
    font-size: 16px;
}

/* RIGHT SIDE */
.detail-information-board {
    display: flex;
    flex-direction: column;
    background-color: #F4F3FF;
    padding: 16px 24px;
    width: 50rem;
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    gap: 12px;
}

