* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* HEADER IKON */
header {
  background-color: #1AA0D9;
  color: #fff;
  padding: 8px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10000;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .logo img {
  height: 40px;
}

header .logo h1 {
  font-size: 20px;
  font-weight: 600;
}

/* NAVIGATION */
nav {
  position: relative;
  display: flex;
  align-items: center;
}

nav a {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  color: #ececec;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.5s;
}

nav a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0;
  left: 15px;
  bottom: -8px;
  transition: 0.5s;
}

nav a:hover {
  transition: 0.5s;
  color: #fff;
}

nav a:hover::after {
  width: 80%;
  transition: 0.5s;
}

nav a.active {
  color: #fff;
  font-weight: 500;
}

/* MASUK & DAFTAR */
.tombol-regis {
  display: flex;
  gap: 8px;
}

.tombol-regis a {
  padding: 8px 15px;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}

.tombol-regis .login {
  background: #1AA0D9;
  color: #fff;
}

.tombol-regis .login:hover {
  background: #fff;
  color: #1AA0D9;
}

.tombol-regis .login:active {
  background: #fff;
  color: #1AA0D9;
}

.tombol-regis .register {
  background: #fff;
  color: #1AA0D9;
}

.tombol-regis .register:hover {
  background: #0c79a8;
  color: #fff;
}

.tombol-regis .register:active {
  background: #0c79a8;
  color: #fff;
}


/* BANNER UTAMA */
.banner-utama {
  background: url('../../Images/Banner-Utama.png') center/cover no-repeat;
  color: white;
  padding: 152px 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.banner-utama h1 {
  font-size: 64px;
  font-weight: 600;
  text-shadow: #333 1px 1px 2px;
  line-height: 1.1;
}

.banner-utama p {
  font-size: 32px;
  line-height: 1.2;
  text-shadow: #333 1px 1px 2px;
}

.banner-utama a {
  display: inline-block;
  align-self: flex-start;
  background: #1AA0D9;
  padding: 12px 32px;
  border-radius: 99999px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  font-size: 24px;
  margin-top: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.banner-utama b {
  font-weight: 600;
}

.banner-utama a:hover {
  background: #0c79a8;
  transition: 0.5s;
}

.banner-utama a:active {
  background: #0c79a8;
}


/* APA ITU GOEKSKUL */
.container {
  display: flex;
  align-items: center;
  gap: 36px;
  margin: 80px 120px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container img {
  width: 360px;
}

.content h2 {
  color: #1AA0D9;
  font-size: 48px;
  font-weight: 600;
}

.content p {
  color: #333;
  font-size: 24px;
}

.content b {
  font-weight: 600;
}

.content a {
  display: inline-block;
  align-self: flex-start;
  background: #1AA0D9;
  padding: 12px 32px;
  border-radius: 99999px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  font-size: 16px;
  margin-top: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content a:hover {
  background: #0c79a8;
  transition: 0.5s;
}

.content a:active {
  background: #0c79a8;
}


/* Kenapa Harus GoEkskul */
.alasan {
  margin: 0px 120px;
}

.alasan-judul {
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-bottom: 24px;
}

.alasan-judul h1 {
  color: #1AA0D9; 
  font-size: 48px;
  margin-bottom: 12px;
  font-weight: 600;
}

.alasan-judul p {
  font-size: 20px;
  color: #333;
}

.alasan-container {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: space-between;
}

.card {
  background: #F4F3FF;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  flex: 1 1 calc(33.333% - 30px);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: centr;
  margin-bottom: 20px;
}

.icon-box .line {
  width: 5px;
  height: 100px;
  background: #1AA0D9;
  border-radius: 5px;
  margin-right: 15px;
}

.icon-box img {
  width: 100px;
  height: auto;
}

.card h3 {
  color: #1AA0D9;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
}

.card p {
  color: #333;
  font-size: 15px;
  line-height: 1.3;
}

/* FITUR UTAMA GOEKSKUL */
.goekskul-fitur-container {
  margin: 100px 0px;
}

.goekskul-fitur-header {
  display: flex;
  justify-content: space-between;
  margin: 80px 120px 30px 120px;
}

.goekskul-fitur-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.goekskul-fitur-judul {
  color: #1AA0D9; 
  font-size: 48px;
  margin-bottom: 12px;
  font-weight: 600;
}

.goekskul-fitur-deskripsi {
  font-size: 20px;
  color: #333;
}

.goekskul-fitur-header a {
  align-self: flex-end;
  background: #1AA0D9;
  padding: 12px 32px;
  border-radius: 99999px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.goekskul-fitur-header a:hover {
  background-color: #0c79a8;
}

.goekskul-fitur-header a:active {
  background-color: #0c79a8;
}

.goekskul-fitur-scroll-wrapper {
  display: flex;
  overflow-x: auto; 
  gap: 20px;
  padding: 20px 120px;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.goekskul-fitur-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.goekskul-fitur-card {
  background-color: #F4F3FF;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 48px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.goekskul-fitur-card:hover {
  transform: translateY(-10px);
}

.goekskul-fitur-card p {
  font-size: 24px;
  font-weight: 500;
  color: #1AA0D9;
  margin-top: 20px;  
  line-height: 1;
}


/* ALUR PENDAFTARAN */
.goekskul-alur-container {
  margin: 0px 120px 48px 120px;
  gap: 32px;
}

.goekskul-alur-header-box {
  background-color: #1AA0D9;
  border-radius: 9999px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.goekskul-alur-header-box h1 {
  color: white;
  font-weight: 600;
  font-size: 36px;
}

.goekskul-alur-header-box a {
  background-color: #F4F3FF;
  color: #1AA0D9;
  font-weight: 500;
  font-size: 20px;
  border-radius: 99999px;
  padding: 8px 24px;
  transition: 0.5s;
  text-decoration: none;
}



.goekskul-alur-header-box a:hover {
  color: #fff;
  background-color: #0c79a8;
}

.goekskul-alur-header-box a:active {
  color: #fff;
  background-color: #0c79a8;
}

.goekskul-alur-langkah-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  line-height: 1.6;
}

.goekskul-alur-langkah {
  background-color: #F4F3FF;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.goekskul-alur-langkah h1 {
  font-size: 24px;
  font-weight: 600;
  color: #1AA0D9;
}

.goekskul-alur-langkah p {
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}


/* BANNER AKHIR */
.goekskul-cta-banner {
  width: 100%;
  height: 540px;
  background-image: url('../../Images/Banner-Akhir.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  flex-direction: column;
  padding-right: 120px;
  line-height: 2;
}

.goekskul-cta-banner h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: -5px;
  color: #ffffff;
  text-align: end;
}

.goekskul-cta-banner p {
  font-size: 28px;
  color: #fff;
  font-weight: 300;
}

.goekskul-cta-banner a {
  background-color: white;
  color: #1AA0D9;
  padding: 4px 32px;
  border-radius: 99999px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 12px;
  transition: 0.5s;
}

.goekskul-cta-banner a:hover {
  background-color: #0c79a8;
  color: #fff;
}

.goekskul-cta-banner a:active {
  background-color: #0c79a8;
  color: #fff;
}


/* FOOTER */
footer {
  color: #fff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 32px 80px;
  background-color: #1AA0D9;
}

.footer-column-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.goekskul-logo-display {
  display: flex;
  align-items: center;
  gap: 12px;
}

.goekskul-logo-display img {
  height: 48px;
}

.goekskul-logo-display h1 {
  font-size: 24px;
  font-weight: 600;
}

.footer-navigation {
  display: flex;
  gap: 64px;
}

.goekskul-kolom-navigasi {
  display: flex;
  flex-direction: column;
  line-height: 2.2;
}

.goekskul-kolom-navigasi h1 {
  font-size: 24px;
  font-weight: 600;
}

.goekskul-kolom-navigasi a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
}

.goekskul-kolom-navigasi a:hover {
  color: #003850;
  transform: translateX(10px);
}

.goekskul-kolom-navigasi a:active {
  color: #003850;
}

.goekskul-kolom-kontak {
  display: flex;
  flex-direction: column;
  line-height: 2.2;
}

.goekskul-kolom-kontak h1 {
  font-size: 24px;
  font-weight: 600;
}

.kontak-information {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
}

.kontak-information h2 {
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
  font-weight: 400;
  line-height: 1.2;
}

.goekskul-sosmed h1 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 8px;
}

.goekskul-sosmed a {
  font-size: 32px;
  margin-right: 16px;
  color: white;
  transition: 0.5s;
}

.goekskul-sosmed a:hover {
  color: #003850;
}

.goekskul-sosmed a:active {
  color: #003850;
}

.goekskul-hak-cipta {
  background-color: #005072;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 0px;
}