* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* HEADER IKON */
header {
  background-color: #1AA0D9;
  color: #fff;
  padding: 8px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10000;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .logo img {
  height: 40px;
}

header .logo h1 {
  font-size: 20px;
  font-weight: 600;
}

/* NAVIGATION */
nav {
  position: relative;
  display: flex;
  align-items: center;
}

nav a {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  color: #ececec;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.5s;
}

nav a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0;
  left: 15px;
  bottom: -8px;
  transition: 0.5s;
}

nav a:hover {
  transition: 0.5s;
  color: #fff;
}

nav a:hover::after {
  width: 80%;
  transition: 0.5s;
}

nav a.active {
  color: #fff;
  font-weight: 500;
}

/* MASUK & DAFTAR */
.tombol-regis {
  display: flex;
  gap: 8px;
}

.tombol-regis a {
  padding: 8px 15px;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}

.tombol-regis .login {
  background: #1AA0D9;
  color: #fff;
}

.tombol-regis .login:hover {
  background: #fff;
  color: #1AA0D9;
}

.tombol-regis .login:active {
  background: #fff;
  color: #1AA0D9;
}

.tombol-regis .register {
  background: #fff;
  color: #1AA0D9;
}

.tombol-regis .register:hover {
  background: #0c79a8;
  color: #fff;
}

.tombol-regis .register:active {
  background: #0c79a8;
  color: #fff;
}


/* BANNER UTAMA */
.banner-utama {
  background: url('../../Images/Banner-Tentang.png') center/cover no-repeat;
  color: white;
  padding: 174px 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.banner-utama h1 {
  font-size: 64px;
  font-weight: 600;
  text-shadow: #333 1px 1px 2px;
  line-height: 1.1;
}

.banner-utama p {
  font-size: 32px;
  line-height: 1.2;
  text-shadow: #333 1px 1px 2px;
}

.banner-utama a {
  display: inline-block;
  align-self: flex-start;
  background: #1AA0D9;
  padding: 12px 32px;
  border-radius: 99999px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  font-size: 24px;
  margin-top: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.banner-utama b {
  font-weight: 600;
}

.banner-utama a:hover {
  background: #0c79a8;
  transition: 0.5s;
}

.banner-utama a:active {
  background: #0c79a8;
}

/* VISI */
.visi {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right,#1AA0D9,#0E5573);
  padding: 48px 52px;
  margin: 56px 80px;
  color: white;
  border-radius: 24px;
}

.visi h1 {
  font-weight: 600;
  font-size: 56px;
}

.visi p {
  font-weight: 300;
  font-size: 24px;
}


/* TEAM */
.team {
  display: flex;
  margin: 0px 80px 64px 80px;
}

.team img {
  width: 24rem;
  height: 24rem;
  margin-right: 40px;
}

.teampg {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.teampg h1 {
  font-size: 52px;
  font-weight: 600;
  color: #0c79a8;
}

.teampg p {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}


/* FOOTER */
footer {
  color: #fff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 32px 80px;
  background-color: #1AA0D9;
}

.footer-column-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.goekskul-logo-display {
  display: flex;
  align-items: center;
  gap: 12px;
}

.goekskul-logo-display img {
  height: 48px;
}

.goekskul-logo-display h1 {
    font-size: 24px;
    font-weight: 600;
}

.footer-navigation {
    display: flex;
    gap: 64px;
}

.goekskul-kolom-navigasi {
    display: flex;
    flex-direction: column;
    line-height: 2.2;
}

.goekskul-kolom-navigasi h1 {
    font-size: 24px;
    font-weight: 600;
}

.goekskul-kolom-navigasi a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}

.goekskul-kolom-navigasi a:hover {
    color: #003850;
    transform: translateX(10px);
}

.goekskul-kolom-navigasi a:active {
    color: #003850;
}

.goekskul-kolom-kontak {
    display: flex;
    flex-direction: column;
    line-height: 2.2;
}

.goekskul-kolom-kontak h1 {
    font-size: 24px;
    font-weight: 600;
}

.kontak-information {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 8px;
}

.kontak-information h2 {
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    font-weight: 400;
    line-height: 1.2;
}

.goekskul-sosmed h1 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 8px;
}

.goekskul-sosmed a {
    font-size: 32px;
    margin-right: 16px;
    color: white;
    transition: 0.5s;
}

.goekskul-sosmed a:hover {
    color: #003850;
}

.goekskul-sosmed a:active {
    color: #003850;
}

.goekskul-hak-cipta {
    background-color: #005072;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 0px;
}